<div class="modalContent">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="id_modifyUserForm">
                    <div class="form-group">
                        <label for="Name">Name:</label><br>
                        <input type="text" id="id_Name" name="Name"><br>
                        <label for="Surname">Surname:</label><br>
                        <input type="text" id="id_Surname" name="Surname"><br>
                        <label for="Mail">Mail:</label><br>
                        <input type="email" id="id_Mail" name="Mail"><br>
                        <label for="Password">Password:</label><br>
                        <input type="password" id="id_Password" name="Password"><br>
                    </div>
                </form>
                <button id="id_sendNewUser"> Modify User </button>
                <button class="modalClose"> Cancel </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>