<table class="table">
    <thead>
    <tr>
        <th>User name</th>
        <th>Email</th>
        <th>Operation</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
    <tr idUser="{{idUser}}">
        <td>{{Name}} {{Surname}}</td>
        <td>{{Mail}}</td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary">Modify</button>
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
        </td>
        <td><button type="button" class="btn btn-primary">Login</button></td>
    </tr>
    {{/each}}
    </tbody>
</table>