    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a New User</h5>
                <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="id_newUserForm">
                    <div class="form-group">
                        <label for="Name">Name:</label><br>
                        <input class="form-control" type="text" id="id_Name" name="Name" ><br>
                        <label for="Surname">Surname:</label><br>
                        <input class="form-control" type="text" id="id_Surname" name="Surname" ><br>
                        <label for="Mail">Mail:</label><br>
                        <input class="form-control" type="email" id="id_Mail" name="Mail" ><br>
                        <label for="Password">Password:</label><br>
                        <input class="form-control" type="password" id="id_Password" name="Password" ><br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="id_sendNewUser"><i class="fas fa-user-plus"></i> Create New User </button>
                <button class="btn btn-danger modalClose"> Cancel </button>
            </div>
        </div>
    </div>
