
<div class="row">
    <div class="col text-center">
        <h1 class="text-center">Alarm List</h1>
    </div>
</div>
<div class="row">
    <div class="col mb-2">
        <button class="btn btn-primary" id="id_addAlarmBtn"><i class="fas fa-bell"></i> Add New Alarm</button>
        <button class="btn btn-secondary" id="id_backToPatientBtn"><i class="fas fa-angle-left"></i> Back to Patients List</button>
    </div>
</div>
<div class="row bg-white rounded shadow-lg">
    <table class="table table-striped">
        <thead class="thead">
        <tr>
            <th>Message</th>
            <th>Frequency</th>
            <th>Type</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
        <tr idalarm="{{idAlarm}}">
            <td>{{message}}</td>
            <td>{{cronString}}</td>
            <td>{{alarmType}}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary modifyAlarmBtn"><i class="fas fa-pen"></i></button>
                    <button type="button" class="btn btn-danger removeAlarmBtn"><i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

