<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit this Patient</h5>
            <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="#" id="id_modifyPatientForm" method="post">
                <div class="form-group">
                    <label for="Name">Name:</label><br>
                    <input class="form-control" type="text" id="id_Name" name="name" ><br>
                    <label for="Surname">Surname:</label><br>
                    <input class="form-control" type="text" id="id_Surname" name="surname" ><br>
                    <label for="Mail">Alexa:</label><br>
                    <input class="form-control" type="text" id="id_idAlexa" name="idAlexa" ><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary sendModify"><i class="fas fa-user-edit"></i> Edit</button>
                    <button class="btn btn-secondary modalClose">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>
